- name: Zip plugins
        run: |
          cd Builds/MacOSX/build/Release
          zip -r ${{ env.PROJECT_NAME }}-Mac-AU.zip ${{ env.PROJECT_NAME }}.component
          
      - name: Upload AU artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.PROJECT_NAME }}-Mac-AU
          path: Builds/MacOSX/build/Release/${{ env.PROJECT_NAME }}-Mac-AU.zip
```

Après le build, tu auras un fichier `.component` (Audio Unit) à placer dans :
```
/Library/Audio/Plug-Ins/Components/
